<h2>Новости</h2>

<ul class="pager">
    <li class="previous">
        <a href="#">&larr; Раньше</a>
    </li>
    <li>{{ startDisplay }} - {{ endDisplay }}</li>
    <li class="next">
        <a href="#">Позже &rarr;</a>
    </li>
</ul>

<div class="news"></div>
